@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  :root {
    --background: 34 14% 96%;
    --foreground: 24 11% 11%;
    --card: 35 100% 98%;
    --card-foreground: 24 11% 11%;
    --popover: 35 100% 98%;
    --popover-foreground: 24 11% 11%;
    --primary: 25 18% 24%;
    --primary-foreground: 43 100% 97%;
    --secondary: 18 8% 46%;
    --secondary-foreground: 24 11% 11%;
    --muted: 30 14% 78%;
    --muted-foreground: 24 11% 39%;
    --accent: 130 10% 45%;
    --accent-foreground: 24 11% 11%;
    --destructive: 10 58% 55%;
    --destructive-foreground: 43 100% 97%;
    --border: 30 16% 39% / 0.08;
    --input: 30 16% 39% / 0.08;
    --ring: 30 16% 39% / 0.16;
    --chart-1: 30 24% 72%;
    --chart-2: 140 18% 47%;
    --chart-3: 85 14% 44%;
    --chart-4: 35 58% 70%;
    --chart-5: 10 65% 62%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 26 18% 8%;
    --foreground: 32 12% 95%;
    --card: 26 18% 12%;
    --card-foreground: 32 12% 95%;
    --popover: 26 18% 12%;
    --popover-foreground: 32 12% 95%;
    --primary: 25 18% 24%;
    --primary-foreground: 43 100% 97%;
    --secondary: 30 11% 60%;
    --secondary-foreground: 32 12% 95%;
    --muted: 30 11% 46%;
    --muted-foreground: 32 12% 80%;
    --accent: 130 10% 45%;
    --accent-foreground: 32 12% 95%;
    --destructive: 10 58% 55%;
    --destructive-foreground: 43 100% 97%;
    --border: 30 16% 39% / 0.16;
    --input: 30 16% 39% / 0.16;
    --ring: 30 16% 39% / 0.24;
    --chart-1: 30 24% 72%;
    --chart-2: 140 18% 47%;
    --chart-3: 85 14% 44%;
    --chart-4: 35 58% 70%;
    --chart-5: 10 65% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
